html,
body {
padding: 0;
}

* {
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  /* ---------------FONTS--------------- */

  @font-face {
    font-family: 'Apfel Grotezk';
    font-weight: bold;
    src: url(fonts/ApfelGrotezk-Fett.otf);
  }

  @font-face {
    font-family: 'Apfel Grotezk';
    src: url(fonts/ApfelGrotezk-Regular.otf);
  }

/* _____________________________________ */

::-webkit-scrollbar{
  /* ---NOTE: for the rest of the scrollbar formatting to work, there has to be at least one attribute here under general scrollbar. */
 /* width: 2vh; */
 /* background-color: #832161; */
 background-color: #4b6982;
 width: 10px;
 height: 10px;
}
::-webkit-scrollbar-button {

}
::-webkit-scrollbar-thumb {
  /* background: #F06449; */
  /* background: none; */
  background: whitesmoke;
  border-radius: 50px;
  /* border: 1px solid whitesmoke; */
}

audio {
  width: 150px;
  height: 40px;
}


audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
    display: none;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

#water {
  top: 88vh;
  right:3vw;
  object-position: right;
  position: fixed;
  display:block;
}

#water::-webkit-media-controls-panel {
  background-color: lightblue;
}

#audio {
  top: 380vh;
  right:3vw;
  object-position: right;
  position: fixed;
  /* position: absolute; */
  display:block;
}

#audio::-webkit-media-controls-panel {
  background-color: tan;
}


.container {
  overflow-y: hidden;
  overflow-x: hidden;
}

.slide1 {
  /* background: blue; */
  height: 100vh;
  width: 100vw;
    overflow-y: hidden;
}

.slide2 {
  /* background: red; */
  height: 100vh;
  width: 100vw;
    overflow-y: hidden;
}

.slide3 {
  /* background: red; */
  height: 100vh;
  width: 100vw;
    overflow-y: hidden;
}

.slide4 {
  /* background: red; */
  height: 100vh;
  width: 100vw;
    overflow-y: hidden;
}

img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: bottom;
}

#img1 {
  position: fixed;
  z-index: -100;

}

#img2 {
  position: absolute;
  z-index: -50;
}

#img3 {
  position: absolute;
  z-index: -50;
}

#img4 {
  position: absolute;
  z-index: -50;
}

.content {
}

.content1 {
  height:-webkit-fill-available;
  width: auto;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  position: relative;
  pointer-events: none;
}

.content2 {
  height:-webkit-fill-available;
  width: 20vw;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  position: relative;
  /* pointer-events: none; */
  /* background-color: rgba(20, 60, 100, 0.3); */
  background: rgb(60,166,191);
  background: linear-gradient(180deg, rgba(60,166,191,0.3225811442741159) 0%, rgba(18,35,103,0.6615167185038078) 100%);  overflow-y: scroll;
 z-index: 50;
}

.textcontent {
  width: 100vw;
  height: 50vh;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  position: absolute;
  pointer-events: none;
}

.title {
  font-family: 'Apfel Grotezk';
  font-weight: bold;
  font-size: 20vh;
  color: white;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px navy;
}

.subtitle {
  font-family: 'Apfel Grotezk';
  font-size: 5vh;
  color: white;
  text-shadow: 0px 0px 10px navy;
  /* position: absolute; */

}

.body {
  font-family: 'Apfel Grotezk';
  font-size: 3vh;
  line-height: 3.5vh;
  color: white;
    text-shadow: 0px 0px 10px navy;
}

.toc {
  font-family: 'Apfel Grotezk';
  font-size: 2.7vh;
  line-height: 3.5vh;
  color: white;
    text-shadow: 0px 0px 10px navy;

      text-decoration: none;
}

span {
    text-transform: uppercase;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: inherit;
}

.toc-wrap {
  object-position: right;
  position: fixed;
  display: flex;
    width: 14vw;
    left: 84vw;
top: 8vh;

}

/* input {
  background: rgba(0,0,0,0);
  z-index: 50;
} */

input[type="button" i] {
    width: 14vw;
    height: 10vh;
    left: 82vw;
    top: 68vh;
    border-radius: 20px;
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: Khaki;
    /* background-image: url("images/fountain_quiet.png"); */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-position-y: bottom;
    color: black;
    /* padding: 1px 6px; */
    border-width: 0;
    /* position: fixed; */
    position: absolute;
    display: block;
    z-index: 100;
}

input:hover {
    background-image: url("images/fountain_quiet.png");
}

input:active {
  background-image: none;
}

input:visited {
    background-image: none;
}

input:focus {
    background-image: none;
}
